.navbar {
  border:0px solid purple;
  display: flex;
  height:7vh;
  flex-direction: row;
  justify-content: center;
}

.navbar-item {
  border: 0px solid green;
  display: flex;
  width: 20vw;
  padding-left: 0vw;
  position:relative;
  padding-right: 0vw;
  justify-content: center;
  align-items: center;
  margin-left: 0vw;
  margin-right: 0vw;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  z-index: 0;
  --fade-amount: 10%;
  transition: background 0.8s ease;  /* or all 0.8s ease */
}

.navbar-item::after {
  content: '';
  position: absolute;
  height: 100%;
  inset: 0;
  width: 100%;
  background: red;
  background: linear-gradient(0.25turn, #8BC34A, #78a346 var(--fade-amount), #78a346 calc(100% - var(--fade-amount)), #8BC34A);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-item:hover::after {
  opacity: 1;
  color:rgba(197, 198, 195, 0.971);
  transition: 0.3s;
}

.navbar-item:hover{
  
  /*background: linear-gradient(0.25turn, #8BC34A, #78a346 var(--fade-amount), #78a346 calc(100% - var(--fade-amount)), #8BC34A);*/
  z-index: 0;
}

.navbar-item p {
  color: #FDF6F3;
  font-family: oswald;
  font-size: 1.5em;
  transition: color 0.3s; /* put transition here so it works in both states */
}

.navbar-item:hover p {
  color: rgba(197, 198, 195, 0.971);
}
/*
.navbar-item p {
  color: #FDF6F3;
  font-family: oswald;
  font-size: 1.5em;

}

.navbar-item p:hover {
  color:rgba(197, 198, 195, 0.971);
  transition: 0.3s; 
}*/