.container {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

.left-column {
    flex: 1;                     /* both grow to equal height */
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    align-items: center;
    width:50vw;
}

.right-column {
    flex: 1;                     /* both grow to equal height */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid peru;
    width: 50vw;
    height: 50vw;
    /*mask-image: radial-gradient(circle, black, black 65%, transparent 85%);*/
    
}

.box {
    border: 0px solid yellowgreen;
    width: 40vw;
    font-family: oswald;
}

.img-box {

}

.img__studio {
    border-radius: 50px;
    height: 23vw;
    padding:0.5vw;
}

.img__therapist {
    border-radius: 50px;
    height: 23vw;
    padding:0.5vw;

}
.img__house {
    border-radius: 50px;
    width: 40vw;
    display: flex;
    padding:1vw;
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
}
