@media (min-width: 601px) {
  .header {
    height:42vh;
  }

  .header-top {
    height: 35vh;
  }

  .header-top__logo h1 {
      font-size: 2.5rem;
  }
  .header-bottom {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header {
    height:32vh;
  }

  .header-top {
    height: 25vh;
  }

  .header-top__logo h1 {
    font-size: 1.8rem;
  }
}


.header {
  margin-top: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #8BC34A;
  
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-image: url("Grådö_skans_edit.jpg");
  background-size: cover;
  background-position: center;
}

.header-top__logo {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 2vw;
  text-decoration: none;
  height: auto;
  margin-left: 2vh 2vw;
  margin-top:1vh;
  box-sizing: border-box;
}

.header-top__logo h1 {
  color: #FDF6F3;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
}

.header-top__logo h1:hover {
    color: rgba(197, 198, 195, 0.971);
    transition: 0.3s;
}

.header-top__name {
  width:fit-content;
  padding: 0 2vw;
  border:0px solid pink;
  color:  #FDF6F3;  
  text-decoration: inherit;
  height: fit-content;
}
.header-top__name h3:hover {
    color: rgba(197, 198, 195, 0.971);
    transition: 0.3s;
}

.header-top__photo {
  border: 0px solid white;
  width: fit-content;
  color: #FDF6F3;
  padding: 0 2vw;
  margin-top: 2vh;
  align-self: flex-start; /* <-- ensures it sticks to the left in flex container */
  font-family: oswald;
  text-decoration: none;
}

.header-top__photo p {
  font-size: 0.5rem;
}

.header-top__photo p:hover {
  color: #FDF6F3;
  text-decoration: none;  /* ⬅ This removes the underline */
  color: rgba(197, 198, 195, 0.971);
  transition: 0.3s;
}

.header-bottom {
  display: flex;
  align-items: center;
  flex: 1;
  height:7vh;
  width:99vw;
  align-items: center;
}

@media (max-width:600px) {
  .header-bottom{
    flex-direction: row;
  }
}

@media (max-height:850px) {
  .header-top__photo {
    margin-top: 1vh;
  }
  
}

@media (max-height:700px) {
  .header-top__logo h1 {
    font-size:1.5rem;
  }
  .header-top__name h3 {
    font-size:0.8rem;
  }
  
}